:root {
    --color-primary-laranja: #E57056;
    --color-primary-azul: #274653;
    --color-secondary-laranja: #F2A267;
    --color-secondary-azul: #319D8F;
    --color-amarelo: #E7C371;
    --color-black: #000;
    --color-white: #fff;
}

 body, footer{
    font-family: 'Rubik', sans-serif;
 }

.body-index{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    scroll-behavior: smooth;
}

.header_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: 96%;
    height: 5rem;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.header_home img{
    width: 4.5rem;
    margin-left: 2rem;
}

.header_home .nav a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 20px;
    margin-right: 2.5rem;
    scroll-behavior: smooth;
}

.header_home .nav .entrar{
    
    padding: 10px 40px 10px 40px; /*em cima - direita - embaixo - esquerda*/

    background-color: var(--color-primary-azul);
    border-radius: 20px;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}

.header_home .nav .entrar:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--color-primary-laranja);
    color: var(--color-black);
}
/* ------------------------------------------ BOX-1 - INDEX*/
.body-index .box-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    background-color: var(--color-secondary-laranja);
    border-radius: 20px;
    width: 92%;
    height: 310px;
    margin: 0;
}
.texto-box-1{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 0;
}
.body-index .box-1 img{
    height: 290px;
    align-self: center;
    justify-self: end;
    
}
.body-index .box-1 .texto-box-1 strong{
    font-size: 28px;
    color: var(--color-black);
}
.body-index .box-1 .texto-box-1 p{
    font-size: 18px;
    color: var(--color-black);
}
.texto-box-1 a{
    text-decoration: none;
    color: var(--color-primary-azul);
    font-size: 18px;
}

/* ------------------------------------------ BOX-2 - INDEX*/
.body-index .box-2{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 92%;
    margin-top: 1.5rem;
}

.body-index .container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 600px;
}

.body-index .box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 99.9%;
    border-top: 2px solid var(--color-primary-azul);
    margin: 3rem 0 0 0; /*em cima - direita - embaixo - esquerda*/
}

.body-index .box-4 .title span{
    font-size: 35px; 
    font-weight: bold;
    align-self: start;
}

.body-index .box-4 .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.body-index .container .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: 300px;
    width: 950px;
}

.body-index .container .cards .card{
    height: 240px;
    width: 400px;

    display: flex;
    justify-content: start;
    flex-direction: column;
    
    border-radius: 20px;
    padding: 8px;
    box-shadow: #363636 2px 8px 8px 2px;
    background-color: var(--color-white);

    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.body-index .container .cards .card strong{
    font-size: 20px; 
    margin-bottom: .5px;
    
}
.body-index .container .cards .card p{
    font-size: 15px;
    margin-top: 0;
}

.body-index .c3 img, .body-index .c6 img{
    height: 160px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
    margin: 0, 0, 8px, 0; /*em cima - direita - embaixo - esquerda*/
}
.body-index .c3 .texto-card{
    width: 400px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
}
 /* ------------------------------------------------------ TÓPICOS (BOX-2) - INDEX */
.topicos{
    height: auto;
    width: 300px; max-width: 750px;
    border-radius: 20px;
    background-image: url(estante-livros.jfif);
    object-fit: cover;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    padding: 20px;
    position: relative;
}

.topicos #capa_livro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.topicos #sinopse_livro {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 0;
    font-size: 15px;
    text-align: justify;

    height: 100px;
    overflow: hidden;
    position: relative;
}

.topicos #sinopse_livro::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #1a0c0c);
}

.topicos strong{
    font-size: 28px;
    margin-top: 0;
}

#read_button{
    border-radius: 2px;
    border: none;
    font-weight: bold;
    background-color: var(--color-primary-laranja);
    color: var(--color-black);
    padding-top: 7px; padding-bottom: 7px;
    width: 100%;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: var(--color-primary-azul);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.topicos.active  #sinopse_livro{
    height: auto;
}

.topicos.active  #sinopse_livro::before{
    visibility: hidden;
}
/* ------------------------------------------------------------------------ FOOTER - INDEX */
footer{
    width: 100%;
    height: auto;
    background-color: var(--color-primary-azul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 410px;
    width: 100%;
   
}
footer span{
    color: var(--color-white);
    justify-self: center;
    margin-bottom: 15px;
}
.nav-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 400px;
    width: 100%;
}
.nav-footer .pages .links a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: -4px;
}

.nav-footer .pages a img{
    width: 6rem;
}

.explorar-generos a{
    text-decoration: none;
    color: white;
}
.nav-footer .pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-footer .pages .links a:hover{
    color: var(--color-sencodary-laranja);
}

.form{
    display: flex;
    flex-direction: column;
    
    width: 480px;
    height: 285px;
    margin: 0;

    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    padding: 15px;
}
.form button{
    background-color: var(--color-primary-laranja);
    border-radius: 2px;
    border: transparent;
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
}
.form button:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--color-primary-azul);
    color: var(--color-white);
}

.form strong{
    align-self: center;
    font-size: 40px;
    color: var(--color-black);
}

.explorar-generos{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}
.explorar-generos strong{
    font-size: 25px;
}
.explorar-generos a:hover{
    color: var(--color-black);
  background-color: var(--color-secondary-laranja);
}

/* object-fit: cover;------------------------------------------ BODY - LOGIN e CADASTRO */

.body-login, .body-cadastro{
    background-image: url(background-cadastro-login.jpg);
    width: 100%;
    height: 550px;
    
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.body-login #menu, .body-cadastro #menu{
    color: var(--color-white);
    align-self: start;
    justify-self: start;
    font-size: 30px;
    margin-left: 2rem;
    margin-top: 2rem;
    flex-direction: column;
}
.body-login #menu a, .body-cadastro #menu a{
    text-decoration: none;
    color: var(--color-white);
}

.form-login{
    /*background-color: #f2a16762;*/
    width: 400px;
    height: 300px;
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-white);
}

.form-cadastro{
    width: 400px;
    height: 500px;
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-white);
}

.form-login strong, .form-cadastro strong{
    font-size: 40px;
    margin-bottom: 0;
}

.form-login p, .form-cadastro p{
    margin-top: 0;
}
.form-login #informacoes input, .form-cadastro #informacoes input{
    border-radius: 20px;
    width: 300px;
    height: 20px;
    padding-left: 20px;
}

.form-login button, .form-cadastro button{
    background-color: var(--color-primary-laranja);
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    font-size: 15px;
    padding: 5px 40px;
    text-align: center;
    width: 300px;
}

.form-cadastro button:hover, .form-login button:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--color-primary-azul);
    color: var(--color-white);
}

#lembrar_usuario, .lembrar_usuario{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.receber_noticias, #receber_noticias {
    cursor: pointer;
    transition: 0.2s;
}

#mensagem_erro{
    font-size: 13px;
    color: var(--color-primary-laranja);
    margin: 0;
    justify-self: center;
}

.dropdown{
    cursor: pointer;
    transition: 0.2s;
}
.dropdown-menu{
    position: absolute;
    background-color: var(--color-primary-azul);
    display: none;
}
.dropdown-menu a{
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    display: block;
}
.dropdown-menu a:hover{
    background-color: var(--color-primary-laranja);
}

.dropdown:hover .dropdown-menu{ /*quando passar o mouse no 'dropdown' uma ação será realizada no 'dropdown-menu'*/
    display: block;
}
/* ------------------------------------------ CONTEÚDO - OBJETIVOS */

.box-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    width: 92%;
    margin: 0;
}

.caixa-onu{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--color-primary-azul);
    border-radius: 20px;
    width: 420px; max-width: 500px;
    height: auto;
    /*margin: 1.5rem 1rem 1.5rem 3rem; em cima - direita - embaixo - esquerda*/
    padding: 10px;

    text-align: justify;
}
.caixa-onu p{
    font-size: 16px;
    font-weight: lighter;
    color: var(--color-white);
}
.caixa-onu strong{
    font-size: 26px;
    margin: 0;
    color: var(--color-white);
}

/*.box-3 img{
    border-radius: 20px;
    width: 90%;
    align-self: center;
}*/
.box-3 .ODS img{
    width: 150px; max-width: 190px;
    object-fit: cover;
}
.ODS {
    display: flex;
    flex-direction: row;
}

.caixa-objetivos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 780px; max-width: 1000px;
    height: 27rem;
    
    margin-right: 2rem;
    padding: 15px;
}
.caixa-objetivos p{
    font-size: 18px;
}
.caixa-objetivos strong{
    font-size: 35px;
    margin: 0;
}

    /* ----------------------------------------------- NAVEGAÇÃO LATERAL - PERFIL / EXPLORAR / FAVORITOS / MÉTRICAS / NOTÍCIAS */

.body_perfil{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 550px;
    background-color:var(--color-secondary-azul);
}

.navegacao_lateral{
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;

    background-color: var(--color-white);
    border-radius: 0 20px 20px 0;
    padding: 50px 20px 20px 20px;
}

.navegacao_lateral_dropdown{
    display: flex;
    flex-direction: column;

}
.navegacao_lateral_dropdown a{
    color: var(--color-black);
    
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    display: none;
}

.navegacao_lateral_dropdown label{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.navegacao_lateral_dropdown label img{
    width: 45px;
    object-fit: cover;
}

.navegacao_lateral_dropdown label:hover{
    background-color: var(--color-secondary-laranja);
    transition: all 0.2s ease-in-out;
}

.navegacao_lateral:hover .navegacao_lateral_dropdown a{ /*quando passar o mouse no 'dropdown' uma ação será realizada no 'dropdown-menu'*/
    display: block;
}

.link_home{
    margin-top: 10rem;
    font-size: 45px;
    text-decoration: none;
    color: var(--color-black);
}
/* ------------------------------------------ CONTEÚDO - EXPLORAR */

.conteudo_perfil_explorar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.conteudo_perfil_explorar .container .cards .card:hover{
    background-color: var(--color-primary-laranja);
    transition: all 0.2s ease-in-out;
}

.conteudo_perfil_explorar .container .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: auto;
    width: auto;
}

.conteudo_perfil_explorar .container .cards .card{
    height: 350px;
    width: 280px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
    border-radius: 20px;
    padding: 10px;
    box-shadow: #363636 2px 8px 8px 2px;
    background-color: var(--color-white);

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    margin-left: 1rem;
    margin-right: 1rem;
}

.conteudo_perfil_explorar .container .cards .card strong{
    font-size: 30px; 
    margin-bottom: .5px;
}
.conteudo_perfil_explorar .container .cards .card p{
    font-size: 16px;
    margin-top: 0;
}

.conteudo_perfil_explorar img{
    height: 200px;
    width: 280px;
    border-radius: 20px;
    object-fit: cover;
    margin: 0, 0, 8px, 0; /*em cima - direita - embaixo - esquerda*/
}
.conteudo_perfil_explorar .texto-card{
    width: 280px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 0;
}

/* ----------------------------------------------------------------- CONTEÚDO - EXPLORAR -> SPOTIFY */
.body_explorar {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 550px;
}

.spotify{
    background-color: #121212;
}
.conteudo_perfil_spotify{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    justify-self: end;

    margin-top: 1.5rem;
}

.generos_musicais{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
}
.generos_musicais{
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
    width: auto;

    margin-bottom: 1rem;

}

.generos_musicais span{
    width: 230px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: start;

    border-radius: 10px;
    box-shadow: var(--color-black) 2px 6px 6px 2px;
    
    margin: 0.5rem 0 0.5rem 0; /*em cima - direita - embaixo - esquerda*/
    cursor: pointer;
}

.generos_musicais span p{
    height: 100%;
    width: 60px;
    content: '';
    border-radius: 10px 0 0 10px;
    margin-right: 10px;
}
.generos_musicais span strong{
    font-size: 15px;
    color: var(--color-white);
}

.playlist {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: auto;
    margin-top: 2rem;
}

.playlist .card{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 320px;

    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--color-black) 2px 8px 8px 2px;
    background-color: #121212;
    color: var(--color-white);

    margin: 1rem 1rem 0 1rem; /*em cima - direita - embaixo - esquerda*/
}
.playlist .card p, .playlist .card b{
    font-size: 13px;
}
.playlist .card strong{
    justify-self: center;
    align-self: center;
}
.playlist .card img{
    width: 80%;
    height: 150px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 15px;
}
.playlist .card a img{
    text-decoration: none;
    width: 60px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.conteudo_perfil_spotify .playlist_area, .playlist_area .titulo{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.conteudo_perfil_spotify .titulo strong{
    font-size: 45px;
    color: #51B056;
}
.conteudo_perfil_spotify .titulo i{
    font-size: 18px;
    color: #51B056;
    align-self: center;
    justify-self: center;
}

/* ----------------------------------------------------------------- CONTEÚDO - EXPLORAR -> RECOMENDAÇÃO */

.recomendaçao{
    background-color: var(--color-secondary-laranja);
    justify-content: space-between;
}

.recomendaçao .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*align-content: end; 
    align-self: end;*/
    width: auto;
    height: 107%;
    margin-right: 1.5rem;
    overflow-y: auto;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.conteudo_perfil_recomendacao{
    width: auto;
    height: 100%;

    display: flex;
    align-items: end;
    align-self: flex-end;
    justify-content: start;
    flex-direction: column;

    margin-top: 1rem;
    
}

.conteudo_perfil_categorias{
    width: auto;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    justify-self: end;

    margin-top: 1rem;
    
}

.conteiner_recomendados{
    display: flex;
    align-items: start;
    flex-direction: column;

    width: auto;
    height: 255px;

    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
}

.conteiner_categorias{
    display: flex;
    align-items: start;
    flex-direction: column;

    width: auto;
    height: 270px;

    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
}

.conteiner_recomendados .stand, .conteiner_categorias .stand{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.conteiner_recomendados .livro a, .conteiner_categorias .livro a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 130px;
    height: 200px;

    border-radius: 5px;
    box-shadow: #dfdddd 0.5px 2px 2px 0.5px;
    background-color: var(--color-white);
    
    
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 5px;
}

.conteiner_recomendados .livro a img, .conteiner_categorias .livro a img{
    width: 80%;
    height: 150px;
    object-fit: cover;
    box-shadow: #363636 1px 4px 4px 1px;
    margin-bottom: 8px;
}

.stand .livro strong, .stand .livro strong{
    font-size: 12px;
    color: var(--color-black);
}
.stand .livro p{
    font-size: 10px;
    color: var(--color-black);
}

/* ----------------------------------------------------------------- CONTEÚDO - EXPLORAR -> RESENHA_LIVRO */
.resenha_livro{
    background-color: #eceaea;
    justify-content: space-between;
}

.conteudo_perfil_resenha_livro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 1000px;
    height: 100%;
    margin-top: 1rem;
    margin-right: 5rem;
}

/*--------------- BOX-1 -------------------*/
.conteudo_perfil_resenha_livro .box-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: 100%;
    
    padding: 20px;
}

.conteudo_perfil_resenha_livro .box-1 img{
    width: 66%;
    height: auto;
    object-fit: cover;
    box-shadow: #363636 2px 8px 8px 2px;
}

.conteudo_perfil_resenha_livro .box-1 .avaliacao {
    font-size: 25px;
}

.conteudo_perfil_resenha_livro .box-1 .frase {
    font-size: 15px;
    text-align: center;
}

/*--------------- BOX-2 -------------------*/
.conteudo_perfil_resenha_livro .box-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    width: 60%;
    height: 100%;
    margin-left: 10px;
}

.conteudo_perfil_resenha_livro .box-2 strong{
    font-size: 30px;
    color: var(--color-black);
}

.conteudo_perfil_resenha_livro .box-2 span{
    font-size: 15px;
    color: var(--color-black);
    text-align: justify;
}

/* ----- SPAN - INFOS */

.infos_livro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#favoritar_livro{
    background-color: var(--color-primary-laranja);
    color: var(--color-black);

    align-items: center;
    justify-content: center;
    padding: 4px 26px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}
#ver_na_amazon{
    background-color: var(--color-primary-azul);
    color: var(--color-white);

    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    border-radius: 5px;
}

#ver_na_amazon:hover, #favoritar_livro:hover{
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.voltar{
    align-self: flex-start;
    justify-self: start;
    margin-top: 10px;
    text-decoration: none;
    width: 85px;
    
}


/* ------------------------------------------------------------------- CONTEÚDO - EXPLORAR -> ENTREVISTAS */

.entrevistas{
    background-color: var(--color-secondary-azul);
}

.conteudo_perfil_entrevistas{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 105%;

    align-items: end;
    justify-content: start;
    overflow-y: auto;
    padding: 0.5rem 2rem 1rem 1rem;
    margin-right: 1rem;
}

.noticia{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: auto;
    width: 950px;
    background-color: var(--color-white);
    color: var(--color-black);

    margin-top: 1.5rem;
    border-radius: 20px;
    padding: 20px 30px;
    text-align: justify;
}

.noticia img{
    width: 250px;
    height: 80%;
    object-fit: cover;
    padding-right: 20px;
}

.entrevista{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.entrevista a{
    background-color: var(--color-primary-laranja);
    color: var(--color-black);

    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

.entrevista a:hover{
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;  
}

.entrevista p{
    font-size: 12px;
}

.entrevista strong{
    font-size: 22px;
}


/* -------------------------------------------------------------------- CONTEÚDO : EXPLORAR -> QUIZ*/

.conteudo_perfil_quiz{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    margin-right: 4.5rem;
    margin-top: 3rem;
}
.conteudo_perfil_quiz .container {
    background-color:var(--color-white);
    width: 900px;
    height: 400px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: #363636 2px 8px 8px 2px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .conteudo_perfil_quiz .questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .conteudo_perfil_quiz .question{
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    color: var(--color-black);
  }
  
  .conteudo_perfil_quiz .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 2.5rem;
  }
  .conteudo_perfil_quiz .controls-container{
    flex-direction: column;
    display: flex;
  }
  .conteudo_perfil_quiz .answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .conteudo_perfil_quiz .answer:disabled {
    cursor: not-allowed;
  }
  
  .conteudo_perfil_quiz .next-question {
    margin-top: 32px;
  }

  .conteudo_perfil_quiz .button:hover {
    background-color: var(--color-primary-azul);
    color: var(--color-white);
  }

  .conteudo_perfil_quiz .button {
    background-color: var(--color-primary-laranja);
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .conteudo_perfil_quiz .button:not(:disabled):hover {
    filter: brightness(0.8);
  }
  
  /* Finish game */
  .conteudo_perfil_quiz .final-message {
    font-size: 20px;
    text-align: center;
    color: var(--color-black);
  }
  
  .conteudo_perfil_quiz .final-message span {
    display: block;
    margin-top: 8px;
    color: var(--color-black);
    font-size: 20px;
    
  }
  
  /* General styles */
  .conteudo_perfil_quiz .hide {
    display: none;
  }
  
  .conteudo_perfil_quiz .correct {
    background-color: #18c767;
  }
  
  .conteudo_perfil_quiz .incorrect {
    background-color:#838181;
  }
  
  .conteudo_perfil_quiz .ranking{
    margin-top: 8px;
    color: var(--color-black);
    font-size: 25px;
  }