:root {
    --color-primary-laranja: #E57056;
    --color-primary-azul: #274653;
    --color-secondary-laranja: #F2A267;
    --color-secondary-azul: #319D8F;
    --color-amarelo: #E7C371;
    --color-black: #000;
    --color-white: #fff;
}

 body, footer{
    font-family: 'Rubik', sans-serif;
 }

.body-index{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.header_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: 96%;
    height: 5rem;
}

.header_home img{
    width: 4.5rem;
    margin-left: 2rem;
}

.header_home .nav a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 20px;
    margin-right: 2.5rem;
}

.header_home .nav .entrar{
    
    padding: 10px 40px 10px 40px; /*em cima - direita - embaixo - esquerda*/

    background-color: var(--color-primary-azul);
    border-radius: 20px;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}
/* ------------------------------------------ BOX-1 - INDEX*/
.box-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    background-color: var(--color-secondary-laranja);
    border-radius: 20px;
    width: 92%;
    height: 310px;
    margin: 0;
}
.texto-box-1{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 0;
}
.box-1 img{
    height: 290px;
    align-self: center;
    justify-self: end;
    
}
.box-1 .texto-box-1 strong{
    font-size: 28px;
    color: var(--color-black);
}
.box-1 .texto-box-1 p{
    font-size: 18px;
    color: var(--color-black);
}
.texto-box-1 a{
    text-decoration: none;
    color: var(--color-primary-azul);
    font-size: 18px;
}

/* ------------------------------------------ BOX-2 - INDEX*/
.box-2{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 92%;
    margin-top: 1.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 600px;
}

.box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 99.9%;
    border: 2px solid var(--color-primary-azul);
    margin: 1.5rem 0 0 0; /*em cima - direita - embaixo - esquerda*/
}

.box-4 .title span{
    font-size: 35px; 
    font-weight: bold;
    align-self: start;
}

.box-4 .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: 300px;
    width: 950px;
}

.container .cards .card{
    height: 240px;
    width: 250px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
    border-radius: 20px;
    padding: 8px;
    box-shadow: #363636 0 8px 8px 0;

    cursor: pointer;
    transition: scale 350ms ease-in-out;

    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
/*
.container .cards .card:has(img:hover) img:not(:hover){
    scale:.9;
    opacity: .7;
}*/

.container .cards .card strong{
    font-size: 20px; 
    margin-bottom: .5px;
    
}
.container .cards .card p{
    font-size: 15px;
    margin-top: 0;
}

.c3 img, .c6 img{
    height: 160px;
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin: 0, 0, 8px, 0; /*em cima - direita - embaixo - esquerda*/
}
.c3 .texto-card{
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 0;
}

.topicos{
    height: auto;
    width: 300px; max-width: 500px;
    border-radius: 20px;
    background-image: url(img/estante-livros.jfif);
    object-fit: cover;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    padding: 20px;
    position: relative;
}

.topicos #capa_livro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.topicos #sinopse_livro {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 0;
    font-size: 15px;
    text-align: justify;

    height: 100px;
    overflow: hidden;
    position: relative;
}

.topicos #sinopse_livro::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, var(--color-black));
}

.topicos strong{
    font-size: 28px;
    margin-top: 0;
}

#read_button{
    border-radius: 2px;
    border: none;
    font-weight: bold;
    background-color: var(--color-primary-laranja);
    color: var(--color-black);
    padding: 7px 96px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: var(--color-primary-azul);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.topicos.active  #sinopse_livro{
    height: auto;
}

.topicos.active  #sinopse_livro::before{
    visibility: hidden;
}
/* ------------------------------------------ FOOTER - INDEX */
footer{
    width: 100%;
    height: auto;
    background-color: var(--color-primary-azul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 410px;
    width: 100%;
   
}
footer span{
    color: var(--color-white);
    justify-self: center;
    margin-bottom: 15px;
}
.nav-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 400px;
    width: 100%;
}
.nav-footer .pages .links a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: -4px;
}

.nav-footer .pages a img{
    width: 6rem;
}

.explorar-generos a{
    text-decoration: none;
    color: white;
}
.nav-footer .pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-footer .pages .links a:hover{
    color: var(--color-sencodary-laranja);
}

.form{
    display: flex;
    flex-direction: column;
    
    width: 480px;
    height: 285px;
    margin: 0;

    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    padding: 15px;
}
.form button{
    background-color: var(--color-primary-laranja);
    border-radius: 2px;
    border: transparent;
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
}
.form button:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--color-primary-azul);
    color: var(--color-white);
}

.form strong{
    align-self: center;
    font-size: 40px;
    color: var(--color-black);
}

.explorar-generos{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}
.explorar-generos strong{
    font-size: 25px;
}
.explorar-generos a:hover{
    color: var(--color-black);
  background-color: var(--color-secondary-laranja);
}

/* object-fit: cover;------------------------------------------ BODY - LOGIN e CADASTRO */

.body-login, .body-cadastro{
    background-image: url(img/background-cadastro-login.jpg);
    width: 100%;
    height: 550px;
    
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.body-login #menu, .body-cadastro #menu{
    color: var(--color-white);
    align-self: start;
    justify-self: start;
    font-size: 30px;
    margin-left: 2rem;
    margin-top: 2rem;
    flex-direction: column;
}
.body-login #menu a, .body-cadastro #menu a{
    text-decoration: none;
    color: var(--color-white);
}

.form-login{
    /*background-color: #f2a16762;*/
    width: 400px;
    height: 300px;
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-white);
}

.form-cadastro{
    /*background-color: #f2a16762;*/
    width: 400px;
    height: 485px;
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-white);
}

.form-login strong, .form-cadastro strong{
    font-size: 40px;
    margin-bottom: 0;
}

.form-login p, .form-cadastro p{
    margin-top: 0;
}
.form-login #informacoes input, .form-cadastro #informacoes input{
    border-radius: 20px;
    width: 300px;
    height: 20px;
    padding-left: 20px;
}

.form-login button, .form-cadastro button{
    background-color: var(--color-primary-laranja);
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    font-size: 15px;
    padding: 5px 40px;
    text-align: center;
    width: 300px;
}
#lembrar_usuario, .lembrar_usuario{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.receber_noticias, #receber_noticias {
    cursor: pointer;
    transition: 0.2s;
}

#mensagem_erro{
    font-size: 13px;
    color: var(--color-primary-laranja);
    margin: 0;
    justify-self: center;
}

.dropdown{
    cursor: pointer;
    transition: 0.2s;
}
.dropdown-menu{
    position: absolute;
    background-color: var(--color-primary-azul);
    display: none;
}
.dropdown-menu a{
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    display: block;
}
.dropdown-menu a:hover{
    background-color: var(--color-primary-laranja);
}

.dropdown:hover .dropdown-menu{ /*quando passar o mouse no 'dropdown' uma ação será realizada no 'dropdown-menu'*/
    display: block;
}
/* ------------------------------------------ CONTEÚDO - OBJETIVOS */

.box-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    width: 92%;
    margin: 0;
}

.caixa-onu{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--color-primary-azul);
    border-radius: 20px;
    width: 420px; max-width: 500px;
    height: auto;
    /*margin: 1.5rem 1rem 1.5rem 3rem; em cima - direita - embaixo - esquerda*/
    padding: 10px;

    text-align: justify;
}
.caixa-onu p{
    font-size: 16px;
    font-weight: lighter;
    color: var(--color-white);
}
.caixa-onu strong{
    font-size: 26px;
    margin: 0;
    color: var(--color-white);
}

/*.box-3 img{
    border-radius: 20px;
    width: 90%;
    align-self: center;
}*/
.box-3 .ODS img{
    width: 150px; max-width: 190px;
    object-fit: cover;
}
.ODS {
    display: flex;
    flex-direction: row;
}

.caixa-objetivos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 780px; max-width: 1000px;
    height: 27rem;
    
    margin-right: 2rem;
    padding: 15px;
}
.caixa-objetivos p{
    font-size: 18px;
}
.caixa-objetivos strong{
    font-size: 35px;
    margin: 0;
}

    /* ----------------------------------------------- NAVEGAÇÃO LATERAL - PERFIL */

.body_perfil{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 620px;
    background-color: #bdbdbd;
}

.navegacao_lateral{
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;

    background-color: var(--color-white);
    border-radius: 0 20px 20px 0;
    padding: 50px 20px 20px 20px;
}

.navegacao_lateral_dropdown{
    display: flex;
    flex-direction: column;

}
.navegacao_lateral_dropdown a{
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    display: none;
}

.navegacao_lateral_dropdown span{
    display: flex;
    flex-direction: row;
}
.navegacao_lateral_dropdown span:hover{
    background-color: orange;
}

.navegacao_lateral:hover .navegacao_lateral_dropdown a{ /*quando passar o mouse no 'dropdown' uma ação será realizada no 'dropdown-menu'*/
    display: block;
}

/* ------------------------------------------ CONTEÚDO - PERFIL */

.conteudo_perfil{
    background-color: var(--color-secondary-azul);
    width: 80%;

}
