
    /* HEADER - INDEX.HTML */

.body{
    margin: 0;
    display: block;
    background-color: black;
}

.tumb{
    background: url(img/background-home-img.png);
    background-size: cover;
    margin: 0;
    height: 600px;
    width: 100%;
}
.header_home, .header_objetivo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header_home img, .header_objetivo img{
    width: 15rem;
}

.header_home .nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 2.5rem;
}

.header_objetivo .nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 2.5rem;
}

.header_objetivo{
    background-color: #A0784D ;
}

.header_home .nav .entrar, .header_objetivo .nav .entrar{
    border: 5px solid #F4BC33 ;
    border-radius: 40px;
    padding: 10px 40px 10px 40px; /*em cima - direita - embaixo - esquerda*/
}

    /* TEXTO - INDEX.HTML */

.texto_header {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 80px;
}
.headline{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-block-end: 0px;
}
.descricao{
    color: white;
    font-size: 25px;
}

    /* CONTAINER - INDEX.HTML */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: #D9B98D ;
}

.container .title span{
    font-size: 35px; 
    font-weight: bold;
}

.container .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .card{
    height: 240px;
    width: 200px;
    display: flex;
    background-color: #F4BC33;
    border: solid black 2px ;
    justify-content: start;
    align-self: center;
    padding-left: 10px;
    font-size: 23px;
}

